src/
test/
types/
.husky/
**/__test__/
.env*
.eslintignore
.eslintrc.js
.prettierignore
.prettierrc.js
.commitlintrc.js
.lintstagedrc.js
barrelsbyrc.json
jest.*
*.sh
TODO.md
tsconfig.*
*.test.*
*.spec.*