.github/
.husky/
bin/
public/
coverage/
src/
types/
test/
**/__test__/
*.test.*
*.spec.*
.commitlintrc.*
.env*
.eslintignore
.eslintrc.*
.lintstagedrc.*
.prettierignore
.prettierrc.*
barrelsbyrc.json
jest.*
*.sh
TODO.md
tsconfig.*