src/
test/
types/
.husky/
**/__test__/
__mocks__/
.gists/
public/
.env*
.eslintignore
.eslintrc.js
.prettierignore
.prettierrc.js
.commitlintrc.js
.lintstagedrc.js
.stylelintrc.js
.stylelintignore
barrelsbyrc.json
craco.config.js
jest.*
*.sh
TODO.md
tsconfig.*
*.test.*
*.spec.*